    <div id="primaryContentContainer">
      <div id="primaryContent">
        <h1>Страница не найдена</h1>
        <hr>
        <br>
        
       
        <h3>Контактная информация</h3>
        <ul>
          <li><a href="http://vkontakte.ru/kanst9">Vkontakte.ru.</a></li>
          <li><a href="https://github.com/Kanst">GitHub.</a></li>
        </ul>
        <h3>Почта</h3>
        <blockquote>
          <p>kanst9@bmstu.me</p>
          <p>jeka@kanst9.com</p>
        </blockquote>
        
      </div>
    </div>
    <form for="/" method="post">
    <div id="secondaryContent">
      <%= erb :reg %>
      <h3>Тут будет хрень</h3>
      <p>вот она. <a href="http://bash.org.ru/abyssbest">More&#8230;</a></p>
      
      </ul>
    </div>
    </form>
    <div class="clear"></div>