    <div id="primaryContentContainer">
      <div id="primaryContent">
        <h2>Список книг серии S.T.A.L.K.E.R</h2>
        <pre><%= @bookss %></pre>
       
       
       
        
      </div>
    </div>
    <div id="secondaryContent">
      Login: <input type="text" style="width:150px; height: 20px" name="login" >
      Password: <input type="text" style="width:130px; height: 20px" name="password" >
      <input type="submit" name="reg" value="Регистрация">
        <input type="submit" align="center" name="vhod" value="Войти">
        <p><%= @error %></p>
        <br>
        <br>
        <hr>
      <h3>Серия книг по вселенной S.T.A.L.K.E.R.</h3>
      <p>Список книг <a href="/books/spisok_ST">S.T.A.L.K.E.R</a></p>
      <p>Книги из серии <a href="/books/">S.T.A.L.K.E.R</a></p>
      <p>Фаники по <a href="/books/">S.T.A.L.K.E.R</a></p>
      </ul>
    </div>
    <div class="clear"></div>